a{
	width: 100%!important;
	text-decoration: none;
}


.container {
	border: 5px solid black;
	background-color: white;
}

#tela1 {
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ajustavel {
	background-image: url("../img/fundo.jpg")
}

#title {
	color: black;
}

#text {
	color: black;
}

#text1 {
	color:white;
}